:root {
    --point: #ffb229;

    --black100: #121212;
    --black85: #363636;
    --black70: #595959;
    --black55: #7d7d7d;
    --black40: #a0a0a0;
    --black25: #c4c4c4;
    --black10: #e7e7e7;
    --black5: #f8f8f8;

    --red: #ff3737;
    --blue: #3887ff;
    --good: #23bf17;
}
